/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	color: #333;
	background-color: #fafbfc;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 400;
	font-size: 0.85em;
	overflow: hidden;
}

a {
	color: #8085C1;
	text-decoration: none;
	border: none;
}

a:hover {
	color: #555;
	border: none;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
	height: 100%;
	width: 100%;
	line-height: 1.25em;
}

.cart {
	border-top: 1px solid #e7e7e7;
	margin-top: 1em;
	padding-top: 1.25em;
	padding-bottom: 1.25em;
}

.footer {
	font-size: 0.95em;
	border-top: 1px solid #e7e7e7;
	padding-top: 1.25em;
	padding-bottom: 1.5em;
	overflow: hidden;
	float: center;
	text-align: center;
}


/*****************************************************************************/
/*
/* Items
/*
/****************************************************************************/

.item{
	padding: 1.5em;
	text-align: right;
}

p.price{
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	padding-top: 100%;
	text-align: left;
	font-weight: bold;
}

img{
	width: 100%;
}

.header img{
	width:100%;
}

/*****************************************************************************/
/*
/* Sidebar and Content
/*
/*****************************************************************************/

.sidebar,
.content {
	vertical-align: top;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
	overflow-x: hidden;
}

.sidebar {
	float: left;
	width: 14%;
	padding-left: 2.125em;
	padding-right: 2.125em;
	border-right: 1px solid #e7e7e7;
}

.content {
	padding-left: 1em;
	padding-left: 2.125em;
}

.header {
	text-align: center;
	padding-top: 2em;
	font-size: 1.1em;
}

p.name{
	text-align: right;
	padding:6px 10px;
}

a.button,
.button {
	/*width: 50%;*/
	border:1px solid #969696;
	text-align:center; 
	text-decoration:none;
	color: white;
	margin-left: 0.25em;
	padding:6px 10px;
	font-family:verdana, sans-serif;
	display:inline-block;
	background: #3b8c1b;
}
a.button:hover,
.button:hover {
	color: white;  
	background: #56a637;
}
a.button:active,
.button:active {
	color: white;
	background: lightgreen;
	border:1px solid #171717;
}


a.button.red,
.button.red {
	background: #FF0000;
}
a.button.red:hover,
.button.red:hover {
	background: #8B0000;
}
a.button.red:active,
.button.red:active{
	background: #800000;
}

#sidebar-button {
	height: intrinsic;
	cursor: pointer;
	display: none;
	padding: 15px 5px 0px 0px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e7e7e7;
}

#sidebar-button:active,
#sidebar-button:hover {
	opacity: 0.7;
}

/*****************************************************************************/
/*
/* Row and Coloums
/*
/*****************************************************************************/


div.row {
	clear:both;
}
div.row.clear {
	line-height: 0px; 
	font-size: 0px;
	clear:both;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-6,
.col-9,
.col-12{
	position: relative;
	display:table-cell;
	float: left;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.col-1{width: 7.333333333333332%;}
.col-2{width: 15.666666666666664%;}
.col-3{width: 24%;}
.col-4{width: 32.33333333333333%;}
.col-6{width: 49%;}
.col-9{width: 74%;}
.col-12{width: 99%;}